@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/** CSS Jugaad to manage horizontal overflow. Dont ask me why.**/
#root {
  overflow-x: hidden;
}

/** Color variables **/
:root {
  --bg-dark: #2d2d2d;
  --text-dark: #eeeeee;
  --bg-light: #eeeeee;
  --text-light: #2d2d2d;
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.theme-toggler {
  position: relative;
  display: inline-flex;
  float: right;
  padding: 10px;
}

.theme-toggler-btn {
  border: 1px solid;
  border-radius: 100px;
}

.theme-toggler-btn:focus {
  outline: 0;
}

.theme-toggler-btn i {
  font-size: 30px;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 150px;
  max-height: 150px;
  padding: 5px;
}

.movies-container {
  min-height: 100vh;
}

.movie-card {
  padding: 10px;
  margin: 20px;
}
.movie-poster {
  height: 300px;
  width: 200px;
  padding: 10px;
}

.rating {
  float: right;
  padding: 5px;
}
