@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/** CSS Jugaad to manage horizontal overflow. Dont ask me why.**/
#root {
  overflow-x: hidden;
}

/** Color variables **/
:root {
  --bg-dark: #2d2d2d;
  --text-dark: #eeeeee;
  --bg-light: #eeeeee;
  --text-light: #2d2d2d;
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.theme-toggler {
  position: relative;
  display: inline-flex;
  float: right;
  padding: 10px;
}

.theme-toggler-btn {
  border: 1px solid;
  border-radius: 100px;
}

.theme-toggler-btn:focus {
  outline: 0;
}

.theme-toggler-btn i {
  font-size: 30px;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  margin-top: 3%;
  padding: 5px;
  font-size: 2rem;
}
.search-filter-area {
  padding: 10px;
  margin-top: 5%;
  margin-left: 10%;
}

@media only screen and (max-width: 500px) {
  #searchBtnCol {
    padding: 5px;
    margin-left: 66%;
  }
}

.movies-container {
  min-height: 100vh;
  width: 100vw;
  padding: 10px;
  margin-top: 50px;
}

.movie-card {
  padding: 10px;
  margin: 20px;
}
.movie-poster {
  height: 300px;
  width: 200px;
  padding: 10px;
}

.rating {
  float: right;
  padding: 5px;
}

#spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#spinner {
  max-width: 100px;
  max-height: 100px;
}

.not-found {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.movie-review-area {
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  margin-top: 5%;
}

.movie-title {
  padding: 10px;
}
.movie-name {
  font-size: 2rem;
}

.movie-other-info {
  padding: 10px;
}
@media only screen and (max-width: 500px) {
  .movie-review-area {
    padding: 50px;
  }

  .movie-title {
    text-align: center;
  }
}

.login-area {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 20%;
  padding: 10px;
}
.submit-btn {
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  .login-form {
    width: 100%;
  }
}
